@using RoboticsWebsite.Models

@model CalendarViewModel

@{
    ViewBag.Title = "CalendarMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (null == Session["CurrentMonth"])
    {
        Session["CurrentMonth"] = DateTime.Now.Month;
    }
    Model.CurrentMonthNum = (int)Session["CurrentMonth"];
}

@using (Html.BeginForm())
{
    <div class="form-container" id="newEvent">
        <h5 class="form-header">Create New Event</h5>
        <table class="form-table">
            <tr>
                <td>Type: </td>
                <td><input type="text" name="NewEvent.Type" class="form-control" value=""/></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" name="NewEvent.Description" class="form-control" value=""/> </td>
            </tr>
            <tr>
                <td>Title: </td>
                <td><input type = "text" name = "NewEvent.Title" id="NewEvent.Title" class="form-control" value = "" /></td>
            </tr>
            <tr>
                <td>Start Time: </td>
                <td><input type="text" name="NewEvent.StartTimeString" class="form-control" /></td>
            </tr>
            <tr>
                <td>End Time: </td>
                <td><input type="text" name="NewEvent.EndTimeString" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="hidden" name="CurrentDay" id="formCurrentDay" /></td>
                <td><input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" hidden /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Submit" class="btn btn-default" />
                </td>
                <td>
                    <button type="button" class="btn btn-default" id="cancel" style="float: right">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
}


<h2>@Model.CurrentMonth</h2>

<div id="newEvent">@Html.Partial("NewEventDialog")</div>

<table class="table-days-header">
    <tr>
        @{
            string[] days = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
            foreach (var day in days)
            {
                <td>@day</td>
            }
        }
    </tr>

</table>
<table class="table-bordered table-size-1">
    <tr>
        @for (int i = 0; i < Model.NumDays + (int)Model.StartDay; i++)
        {
            while (i < (int)Model.StartDay)
            {
                <td></td>
                i++;
            }
            if (i % 7 == 0 && i != 0)
            {
                @Html.Raw("</tr>");
                @Html.Raw("<tr>");
            }
            <td class="pull-top-cell">
                @{
                    Model.CurrentDay = (i + 1) - ((int)Model.StartDay);
                }

                @Html.Partial("Day")
            </td>
        }
    </tr>
</table>
<div id="curDay" value="" hidden></div>

<script type='text/javascript'>
    $(document).ready(function () {

        $('#newEvent').prop("hidden", true);

        $('#cancel').click(function () {
            $('#newEvent').prop("hidden", true);
        });

        $(".myButton").click(function () {
            var cDay = this.id;
            $('#formCurrentDay').val = cDay;
            $('#newEvent').prop("hidden", false);
        });
    });

</script>



