@using RoboticsWebsite.Models

@model CalendarViewModel

@{
    ViewBag.Title = "CalendarMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (null == Session["CurrentMonth"])
    {
        Session["CurrentMonth"] = DateTime.Now.Month;
    }
    Model.CurrentMonthNum = (int)Session["CurrentMonth"];
}

<h2>@Model.CurrentMonth</h2>


<table class="table">
    <tr>

        @for (int i = 0; i < Model.NumDays; i++)
        {
            if (i % 6 == 0 && i != 0)
            {
                @Html.Raw("</tr>");
                @Html.Raw("<tr>");
            }
            <td class="" id="@Model.CurrentDay">
                @{
                    Model.CurrentDay = i + 1;
                }
                @Html.Partial("Day")
            </td>
        }
    </tr>                
</table>
                

@*    if(month == 1)
    {
        monthName = "January";
        monthLength = 31;
    }
    else if(month == 2)
    {
        monthName = "February";
        monthLength = 28;
    }
    else if (month == 3)
    {
        monthName = "March";
        monthLength = 31;
    }
    else if (month == 4)
    {
        monthName = "April";
        monthLength = 30;
    }
    else if (month == 5)
    {
        monthName = 
        monthLength =
            }*@


