@using RoboticsWebsite.Models

@model CalendarViewModel

@{
    ViewBag.Title = "CalendarMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (null == Session["CurrentMonth"])
    {
        //Session["CurrentMonth"] = DateTime.Now.Month;
        //Model.CurrentMonthNum = DateTime.Now.Month;
    }
    //Model.CurrentMonthNum = (int)Session["CurrentMonth"];
}


<div class="container">
        @using (Html.BeginForm("ViewEvent", "Calendar", FormMethod.Post, new { @name = "view-event", @id = "view-event" }))
        {
            <input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" hidden />
            <input type="hidden" id="view-day" name="ViewDay" />
        }

@using (Html.BeginForm("Month", "Calendar"))
{
    <div class="form-container" id="newEvent">
        <h5 class="form-header">Create New Event</h5>
        <table class="form-table">
            <tr>
                <td>Type: </td>
                <td>@Html.DropDownListFor(x => x.NewEvent.Type, Model.EventTypeSelectList, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" name="NewEvent.Description" class="form-control" value="" /> </td>
            </tr>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="NewEvent.Title" id="NewEvent.Title" class="form-control" value="" /></td>
            </tr>
            <tr>
                <td>Start Time: </td>
                <td>
                    @*<input type="number" name="NewEvent.StartHour" min="1" max="12" />
                    <input type="number" name="NewEvent.StartMin" min="1" max="59" />
                    <select name="NewEvent.AMPM" class="form-control">

                    </select>*@
                    
                    <select name="StartTime" class="form-control" id="StartTime">
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="5:15 AM">5:15 AM</option>
                        <option value="5:30 AM">5:30 AM</option>
                        <option value="5:45 AM">5:45 AM</option>

                        <option value="6:00 AM">6:00 AM</option>
                        <option value="6:15 AM">6:15 AM</option>
                        <option value="6:30 AM">6:30 AM</option>
                        <option value="6:45 AM">6:45 AM</option>

                        <option value="7:00 AM">7:00 AM</option>
                        <option value="7:15 AM">7:15 AM</option>
                        <option value="7:30 AM">7:30 AM</option>
                        <option value="7:45 AM">7:45 AM</option>

                        <option value="8:00 AM">8:00 AM</option>
                        <option value="8:15 AM">8:15 AM</option>
                        <option value="8:30 AM">8:30 AM</option>
                        <option value="8:45 AM">8:45 AM</option>

                        <option value="9:00 AM">9:00 AM</option>
                        <option value="9:15 AM">9:15 AM</option>
                        <option value="9:30 AM">9:30 AM</option>
                        <option value="9:45 AM">9:45 AM</option>

                        <option value="10:00 AM">10:00 AM</option>
                        <option value="10:15 AM">10:15 AM</option>
                        <option value="10:30 AM">10:30 AM</option>
                        <option value="10:45 AM">10:45 AM</option>

                        <option value="11:00 AM">11:00 AM</option>
                        <option value="11:15 AM">11:15 AM</option>
                        <option value="11:30 AM">11:30 AM</option>
                        <option value="11:45 AM">11:45 AM</option>

                        <option value="12:00 PM">12:00 PM</option>
                        <option value="12:15 PM">12:15 PM</option>
                        <option value="12:30 PM">12:30 PM</option>
                        <option value="12:45 PM">12:45 PM</option>

                        <option value="1:00 PM">1:00 PM</option>
                        <option value="1:15 PM">1:15 PM</option>
                        <option value="1:30 PM">1:30 PM</option>
                        <option value="1:45 PM">1:45 PM</option>

                        <option value="2:00 PM">2:00 PM</option>
                        <option value="2:15 PM">2:15 PM</option>
                        <option value="2:30 PM">2:30 PM</option>
                        <option value="2:45 PM">2:45 PM</option>

                        <option value="3:00 PM">3:00 PM</option>
                        <option value="3:15 PM">3:15 PM</option>
                        <option value="3:30 PM">3:30 PM</option>
                        <option value="3:45 PM">3:45 PM</option>

                        <option value="4:00 PM">4:00 PM</option>
                        <option value="4:15 PM">4:15 PM</option>
                        <option value="4:30 PM">4:30 PM</option>
                        <option value="4:45 PM">4:45 PM</option>

                        <option value="5:00 PM">5:00 PM</option>
                        <option value="5:15 PM">5:15 PM</option>
                        <option value="5:30 PM">5:30 PM</option>
                        <option value="5:45 PM">5:45 PM</option>

                        <option value="6:00 PM">6:00 PM</option>
                        <option value="6:15 PM">6:15 PM</option>
                        <option value="6:30 PM">6:30 PM</option>
                        <option value="6:45 PM">6:45 PM</option>

                        <option value="7:00 PM">7:00 PM</option>
                        <option value="7:15 PM">7:15 PM</option>
                        <option value="7:30 PM">7:30 PM</option>
                        <option value="7:45 PM">7:45 PM</option>

                        <option value="8:00 PM">8:00 PM</option>
                        <option value="8:15 PM">8:15 PM</option>
                        <option value="8:30 PM">8:30 PM</option>
                        <option value="8:45 PM">8:45 PM</option>

                        <option value="9:00 PM">9:00 PM</option>
                        <option value="9:15 PM">9:15 PM</option>
                        <option value="9:30 PM">9:30 PM</option>
                        <option value="9:45 PM">9:45 PM</option>

                        <option value="10:00 PM">10:00 PM</option>
                        <option value="10:15 PM">10:15 PM</option>
                        <option value="10:30 PM">10:30 PM</option>
                        <option value="10:45 PM">10:45 PM</option>

                        <option value="11:00 PM">11:00 PM</option>
                        <option value="11:15 PM">11:15 PM</option>
                        <option value="11:30 PM">11:30 PM</option>
                        <option value="11:45 PM">11:45 PM</option>
                    </select>
                </td>
                @*<td><input type="" name="StartTime" class="form-control" /></td>*@
            </tr>
            <tr>
                <td>End Time: </td>
                <td>
                    @*<input type="time" name="EndTime" class="form-control" />*@
                    <select name="EndTime" class="form-control" id="EndTime">
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="5:15 AM">5:15 AM</option>
                        <option value="5:30 AM">5:30 AM</option>
                        <option value="5:45 AM">5:45 AM</option>

                        <option value="6:00 AM">6:00 AM</option>
                        <option value="6:15 AM">6:15 AM</option>
                        <option value="6:30 AM">6:30 AM</option>
                        <option value="6:45 AM">6:45 AM</option>

                        <option value="7:00 AM">7:00 AM</option>
                        <option value="7:15 AM">7:15 AM</option>
                        <option value="7:30 AM">7:30 AM</option>
                        <option value="7:45 AM">7:45 AM</option>

                        <option value="8:00 AM">8:00 AM</option>
                        <option value="8:15 AM">8:15 AM</option>
                        <option value="8:30 AM">8:30 AM</option>
                        <option value="8:45 AM">8:45 AM</option>

                        <option value="9:00 AM">9:00 AM</option>
                        <option value="9:15 AM">9:15 AM</option>
                        <option value="9:30 AM">9:30 AM</option>
                        <option value="9:45 AM">9:45 AM</option>

                        <option value="10:00 AM">10:00 AM</option>
                        <option value="10:15 AM">10:15 AM</option>
                        <option value="10:30 AM">10:30 AM</option>
                        <option value="10:45 AM">10:45 AM</option>

                        <option value="11:00 AM">11:00 AM</option>
                        <option value="11:15 AM">11:15 AM</option>
                        <option value="11:30 AM">11:30 AM</option>
                        <option value="11:45 AM">11:45 AM</option>

                        <option value="12:00 PM">12:00 PM</option>
                        <option value="12:15 PM">12:15 PM</option>
                        <option value="12:30 PM">12:30 PM</option>
                        <option value="12:45 PM">12:45 PM</option>

                        <option value="1:00 PM">1:00 PM</option>
                        <option value="1:15 PM">1:15 PM</option>
                        <option value="1:30 PM">1:30 PM</option>
                        <option value="1:45 PM">1:45 PM</option>

                        <option value="2:00 PM">2:00 PM</option>
                        <option value="2:15 PM">2:15 PM</option>
                        <option value="2:30 PM">2:30 PM</option>
                        <option value="2:45 PM">2:45 PM</option>

                        <option value="3:00 PM">3:00 PM</option>
                        <option value="3:15 PM">3:15 PM</option>
                        <option value="3:30 PM">3:30 PM</option>
                        <option value="3:45 PM">3:45 PM</option>

                        <option value="4:00 PM">4:00 PM</option>
                        <option value="4:15 PM">4:15 PM</option>
                        <option value="4:30 PM">4:30 PM</option>
                        <option value="4:45 PM">4:45 PM</option>

                        <option value="5:00 PM">5:00 PM</option>
                        <option value="5:15 PM">5:15 PM</option>
                        <option value="5:30 PM">5:30 PM</option>
                        <option value="5:45 PM">5:45 PM</option>

                        <option value="6:00 PM">6:00 PM</option>
                        <option value="6:15 PM">6:15 PM</option>
                        <option value="6:30 PM">6:30 PM</option>
                        <option value="6:45 PM">6:45 PM</option>

                        <option value="7:00 PM">7:00 PM</option>
                        <option value="7:15 PM">7:15 PM</option>
                        <option value="7:30 PM">7:30 PM</option>
                        <option value="7:45 PM">7:45 PM</option>

                        <option value="8:00 PM">8:00 PM</option>
                        <option value="8:15 PM">8:15 PM</option>
                        <option value="8:30 PM">8:30 PM</option>
                        <option value="8:45 PM">8:45 PM</option>

                        <option value="9:00 PM">9:00 PM</option>
                        <option value="9:15 PM">9:15 PM</option>
                        <option value="9:30 PM">9:30 PM</option>
                        <option value="9:45 PM">9:45 PM</option>

                        <option value="10:00 PM">10:00 PM</option>
                        <option value="10:15 PM">10:15 PM</option>
                        <option value="10:30 PM">10:30 PM</option>
                        <option value="10:45 PM">10:45 PM</option>

                        <option value="11:00 PM">11:00 PM</option>
                        <option value="11:15 PM">11:15 PM</option>
                        <option value="11:30 PM">11:30 PM</option>
                        <option value="11:45 PM">11:45 PM</option>
                    </select>
                </td>
            </tr>
            <td>
            @*<tr>
                <!--Is given a value via javascript when add event is selected, so that the day selected is put in here as value-->
                <td><input type="hidden" name="NewEvent.Day" id="formCurrentDay" /></td>
                <td><input type="number" name="NewEvent.Month" value="@Model.CurrentMonthNum" hidden /></td>
                <td><input type="number" name="NewEvent.Year" value="@Model.CurrentYear" hidden /></td>
                <td><input type="number" name="NewEvent.StartMin" value="@Model.StartMin" hidden /></td>
                <td><input type="number" name="NewEvent.StartHour" value="@Model.StartHour" hidden /></td>
                <td><input type="number" name="NewEvent.EndMin" value="@Model.EndMin" hidden /></td>
                <td><input type="number" name="NewEvent.EndHour" value="@Model.EndHour" hidden /></td>
                <td><input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" hidden /></td>
            </tr>*@
            <input type="hidden" name="NewEvent.Day" id="formCurrentDay" />
            <input type="number" name="NewEvent.Month" value="@Model.CurrentMonthNum" hidden />
            <input type="number" name="NewEvent.Year" value="@Model.CurrentYear" hidden />
            @*<input type="number" name="NewEvent.StartMin" value="@Model.StartMin" hidden />
        <input type="number" name="NewEvent.StartHour" value="@Model.StartHour" hidden />
        <input type="number" name="NewEvent.EndMin" value="@Model.EndMin" hidden />
        <input type="number" name="NewEvent.EndHour" value="@Model.EndHour" hidden />*@
            <input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" hidden />
            <input type="hidden" name="IsNewEvent" value="true" /></td>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Submit" class="btn btn-sm" />
                </td>
                <td>
                    <button type="button" class="btn btn-sm" id="cancel" style="float: right">Cancel</button>
                </td>
            </tr>
        </table>

    </div>
}
<div>
    @using (Html.BeginForm("PrevMonth", "Calendar"))
    {
        <input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" style="visibility:hidden" />
        <input type="number" name="CurrentYear" value="@Model.CurrentYear" style="visibility:hidden" />

        <input type="submit" class="btn btn-sm" id="prev-month" value="previous">
    }
    @using (Html.BeginForm("NextMonth", "Calendar"))
    {
        <input type="number" name="CurrentMonthNum" value="@Model.CurrentMonthNum" style="visibility:hidden" />
        <input type="number" name="CurrentYear" value="@Model.CurrentYear" style="visibility:hidden" />

        <input type="submit" class="btn btn-sm pull-top-right" id="next-month" value="next">
    }
</div>

<h2>@Model.CurrentMonth @Model.CurrentYear</h2>

@*<div id="newEvent">@Html.Partial("NewEventDialog")</div>*@

<table class="table-days-header">
    <tr>
        @{
            string[] days = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
            foreach (var day in days)
            {
                <td>@day</td>
            }
        }
    </tr>

</table>
<table class="table-bordered table-size-1">
    <tr class="table-size-row-1">
        @for (int i = 0; i < Model.NumDays + (int)Model.StartDay; i++)
        {
            while (i < (int)Model.StartDay)
            {
                <td></td>
                i++;
            }
            if (i % 7 == 0 && i != 0)
            {
                @Html.Raw("</tr>");
                @Html.Raw("<tr class=\"table-size-row-1\">");
            }
            <td class="pull-top-cell" id="">
                @{
                    Model.CurrentDay = (i + 1) - ((int)Model.StartDay);
                }

                @Html.Partial("Day")
            </td>
         }
    </tr>
</table>
<!--<div id="selectedDay" hidden></div>-->
</div>
<script type='text/javascript'>
    

    $(document).ready(function () {

        $('#newEvent').prop("hidden", true);

        //$('#viewEvent').prop("hidden", true);
        
        /*$(".pull-top-cell").hover(
            function () {
                $(this).addClass("cell-hover");
            },
            function () {
                $(this).removeClass("cell-hover");
            }
            );*/

        //If a calendar item is clicked, shows all events for that day
        $(".calendar-table-2").click(function () {
            var cDay = this.id;
            var cDayP = cDay.split("|");
            //Model.CurrentDay = cDayP;
            //$('#viewDay').text(cDayP[0]);
            $('#view-day').val(cDayP[0]);
            $("#view-event").submit();
            //$('#viewEvent').prop("hidden", false);
        });

        $('.close-day-view').click(function () {
            //$('#viewEvent').prop("hidden", true);
        });

        $(".myButton").click(function () {
            var cDay = this.id;
            $('#formCurrentDay').val(cDay);
            $('#newEvent').prop("hidden", false);
        });

        $('#cancel').click(function () {
            $('#newEvent').prop("hidden", true);
        });

        $("#startTimeDate").val("b");

        //$('#startTimeTextBox').datetimepicker();

        $("#startTimeDate").val("a");
    });

</script>



