<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Robotics Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Calendar", "Month", "Calendar")</li>
                    @if (null != Session["UserType"] && (string)Session["UserType"] != "Guest")
                    {
                        <li>@Html.ActionLink("Events", "UserEvents", "Home")</li>
                    }
                    @if (null != Session["UserType"] && ((string)Session["UserType"]).ToString().Equals("Admin"))
                    {
                        <li>@Html.ActionLink("Approve Users", "ModifyUser", "Home")</li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (null != Session["UserName"])
                    {
                        <li>@Html.ActionLink("Wecome " + Session["UserName"], "Index", "Home")</li>
                    }
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    @if (null == Session["UserType"] || ((string)Session["UserType"]).ToString().Equals("Guest"))
                    {
                        <li>@Html.Partial("_LoginPartial")</li>
                    }
                    else 
                    {
                    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/Site");
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
