@model RoboticsWebsite.Models.ModifyEventViewModel

@{
    ViewBag.Title = "ModifyEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="user-events-container">
    <h2>ModifyEvents</h2> 
    @Html.ActionLink("View Events", "UserEvents", "Home")
    @Html.ActionLink("All Events", "AllEvents", "Home")

    <table class="user-events-table">
        <tr>
            <td>Day</td>
            <td>Time</td>
            <td>Type</td>
            <td>Title</td>
            <td>Description</td>
            <td></td>
        </tr>
    </table>

    @foreach (var e in Model.Events)
    {
        string status;

        if (e.Status == RoboticsWebsite.Enums.EventStatus.Current)
        {
            status = "Current";
        }
        else if (e.Status == RoboticsWebsite.Enums.EventStatus.Cancelled)
        {
            status = "Canceled";
        }
        else
        {
            status = "Removed";
        }

        if (status.Equals("Current"))
        {
            using (Html.BeginForm("ModifyEvents", "Home", e))
            {
                <table class="user-events-table">
                    <tr>
                        @*<td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(e.Month) @e.Day</td>*@
                        <td><input type="date" name="newDate" value="@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(e.Month) @e.Day" /></td>
                        <td>
                            <select name="StartTime" class="form-control" id="StartTime">
                                <option value="5:00 AM">5:00 AM</option>
                                <option value="5:15 AM">5:15 AM</option>
                                <option value="5:30 AM">5:30 AM</option>
                                <option value="5:45 AM">5:45 AM</option>

                                <option value="6:00 AM">6:00 AM</option>
                                <option value="6:15 AM">6:15 AM</option>
                                <option value="6:30 AM">6:30 AM</option>
                                <option value="6:45 AM">6:45 AM</option>

                                <option value="7:00 AM">7:00 AM</option>
                                <option value="7:15 AM">7:15 AM</option>
                                <option value="7:30 AM">7:30 AM</option>
                                <option value="7:45 AM">7:45 AM</option>

                                <option value="8:00 AM">8:00 AM</option>
                                <option value="8:15 AM">8:15 AM</option>
                                <option value="8:30 AM">8:30 AM</option>
                                <option value="8:45 AM">8:45 AM</option>

                                <option value="9:00 AM">9:00 AM</option>
                                <option value="9:15 AM">9:15 AM</option>
                                <option value="9:30 AM">9:30 AM</option>
                                <option value="9:45 AM">9:45 AM</option>

                                <option value="10:00 AM">10:00 AM</option>
                                <option value="10:15 AM">10:15 AM</option>
                                <option value="10:30 AM">10:30 AM</option>
                                <option value="10:45 AM">10:45 AM</option>

                                <option value="11:00 AM">11:00 AM</option>
                                <option value="11:15 AM">11:15 AM</option>
                                <option value="11:30 AM">11:30 AM</option>
                                <option value="11:45 AM">11:45 AM</option>

                                <option value="12:00 PM">12:00 PM</option>
                                <option value="12:15 PM">12:15 PM</option>
                                <option value="12:30 PM">12:30 PM</option>
                                <option value="12:45 PM">12:45 PM</option>

                                <option value="1:00 PM">1:00 PM</option>
                                <option value="1:15 PM">1:15 PM</option>
                                <option value="1:30 PM">1:30 PM</option>
                                <option value="1:45 PM">1:45 PM</option>

                                <option value="2:00 PM">2:00 PM</option>
                                <option value="2:15 PM">2:15 PM</option>
                                <option value="2:30 PM">2:30 PM</option>
                                <option value="2:45 PM">2:45 PM</option>

                                <option value="3:00 PM">3:00 PM</option>
                                <option value="3:15 PM">3:15 PM</option>
                                <option value="3:30 PM">3:30 PM</option>
                                <option value="3:45 PM">3:45 PM</option>

                                <option value="4:00 PM">4:00 PM</option>
                                <option value="4:15 PM">4:15 PM</option>
                                <option value="4:30 PM">4:30 PM</option>
                                <option value="4:45 PM">4:45 PM</option>

                                <option value="5:00 PM">5:00 PM</option>
                                <option value="5:15 PM">5:15 PM</option>
                                <option value="5:30 PM">5:30 PM</option>
                                <option value="5:45 PM">5:45 PM</option>

                                <option value="6:00 PM">6:00 PM</option>
                                <option value="6:15 PM">6:15 PM</option>
                                <option value="6:30 PM">6:30 PM</option>
                                <option value="6:45 PM">6:45 PM</option>

                                <option value="7:00 PM">7:00 PM</option>
                                <option value="7:15 PM">7:15 PM</option>
                                <option value="7:30 PM">7:30 PM</option>
                                <option value="7:45 PM">7:45 PM</option>

                                <option value="8:00 PM">8:00 PM</option>
                                <option value="8:15 PM">8:15 PM</option>
                                <option value="8:30 PM">8:30 PM</option>
                                <option value="8:45 PM">8:45 PM</option>

                                <option value="9:00 PM">9:00 PM</option>
                                <option value="9:15 PM">9:15 PM</option>
                                <option value="9:30 PM">9:30 PM</option>
                                <option value="9:45 PM">9:45 PM</option>

                                <option value="10:00 PM">10:00 PM</option>
                                <option value="10:15 PM">10:15 PM</option>
                                <option value="10:30 PM">10:30 PM</option>
                                <option value="10:45 PM">10:45 PM</option>

                                <option value="11:00 PM">11:00 PM</option>
                                <option value="11:15 PM">11:15 PM</option>
                                <option value="11:30 PM">11:30 PM</option>
                                <option value="11:45 PM">11:45 PM</option>
                            </select>
                            <select name="EndTime" class="form-control" id="EndTime">
                                <option value="5:00 AM">5:00 AM</option>
                                <option value="5:15 AM">5:15 AM</option>
                                <option value="5:30 AM">5:30 AM</option>
                                <option value="5:45 AM">5:45 AM</option>

                                <option value="6:00 AM">6:00 AM</option>
                                <option value="6:15 AM">6:15 AM</option>
                                <option value="6:30 AM">6:30 AM</option>
                                <option value="6:45 AM">6:45 AM</option>

                                <option value="7:00 AM">7:00 AM</option>
                                <option value="7:15 AM">7:15 AM</option>
                                <option value="7:30 AM">7:30 AM</option>
                                <option value="7:45 AM">7:45 AM</option>

                                <option value="8:00 AM">8:00 AM</option>
                                <option value="8:15 AM">8:15 AM</option>
                                <option value="8:30 AM">8:30 AM</option>
                                <option value="8:45 AM">8:45 AM</option>

                                <option value="9:00 AM">9:00 AM</option>
                                <option value="9:15 AM">9:15 AM</option>
                                <option value="9:30 AM">9:30 AM</option>
                                <option value="9:45 AM">9:45 AM</option>

                                <option value="10:00 AM">10:00 AM</option>
                                <option value="10:15 AM">10:15 AM</option>
                                <option value="10:30 AM">10:30 AM</option>
                                <option value="10:45 AM">10:45 AM</option>

                                <option value="11:00 AM">11:00 AM</option>
                                <option value="11:15 AM">11:15 AM</option>
                                <option value="11:30 AM">11:30 AM</option>
                                <option value="11:45 AM">11:45 AM</option>

                                <option value="12:00 PM">12:00 PM</option>
                                <option value="12:15 PM">12:15 PM</option>
                                <option value="12:30 PM">12:30 PM</option>
                                <option value="12:45 PM">12:45 PM</option>

                                <option value="1:00 PM">1:00 PM</option>
                                <option value="1:15 PM">1:15 PM</option>
                                <option value="1:30 PM">1:30 PM</option>
                                <option value="1:45 PM">1:45 PM</option>

                                <option value="2:00 PM">2:00 PM</option>
                                <option value="2:15 PM">2:15 PM</option>
                                <option value="2:30 PM">2:30 PM</option>
                                <option value="2:45 PM">2:45 PM</option>

                                <option value="3:00 PM">3:00 PM</option>
                                <option value="3:15 PM">3:15 PM</option>
                                <option value="3:30 PM">3:30 PM</option>
                                <option value="3:45 PM">3:45 PM</option>

                                <option value="4:00 PM">4:00 PM</option>
                                <option value="4:15 PM">4:15 PM</option>
                                <option value="4:30 PM">4:30 PM</option>
                                <option value="4:45 PM">4:45 PM</option>

                                <option value="5:00 PM">5:00 PM</option>
                                <option value="5:15 PM">5:15 PM</option>
                                <option value="5:30 PM">5:30 PM</option>
                                <option value="5:45 PM">5:45 PM</option>

                                <option value="6:00 PM">6:00 PM</option>
                                <option value="6:15 PM">6:15 PM</option>
                                <option value="6:30 PM">6:30 PM</option>
                                <option value="6:45 PM">6:45 PM</option>

                                <option value="7:00 PM">7:00 PM</option>
                                <option value="7:15 PM">7:15 PM</option>
                                <option value="7:30 PM">7:30 PM</option>
                                <option value="7:45 PM">7:45 PM</option>

                                <option value="8:00 PM">8:00 PM</option>
                                <option value="8:15 PM">8:15 PM</option>
                                <option value="8:30 PM">8:30 PM</option>
                                <option value="8:45 PM">8:45 PM</option>

                                <option value="9:00 PM">9:00 PM</option>
                                <option value="9:15 PM">9:15 PM</option>
                                <option value="9:30 PM">9:30 PM</option>
                                <option value="9:45 PM">9:45 PM</option>

                                <option value="10:00 PM">10:00 PM</option>
                                <option value="10:15 PM">10:15 PM</option>
                                <option value="10:30 PM">10:30 PM</option>
                                <option value="10:45 PM">10:45 PM</option>

                                <option value="11:00 PM">11:00 PM</option>
                                <option value="11:15 PM">11:15 PM</option>
                                <option value="11:30 PM">11:30 PM</option>
                                <option value="11:45 PM">11:45 PM</option>
                            </select>
                        </td>
                        <td>@e.Type.ToString()</td>
                        <td>@e.Title</td>
                        <td>@e.Description</td>
                        <td>
                            <input type="number" value="@e.EventId" name="EventIdToRemove" hidden />
                            <input type="submit" value="Change" id="submit" class="btn btn-sm" />
                        </td>
                    </tr>
                </table>
            }
        }
        /*else
        {
            <table class="user-events-table">
                <tr style="background-color:darkgray;">
                    <td>@e.CreatedBy</td>
                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(e.Month) @e.Day</td>
                    <td>@startTime - @endTime</td>
                    <td>@e.Type.ToString()</td>
                    <td>@e.Title</td>
                    <td>@e.Description</td>
                    <td>
                        Canceled
                    </td>
                </tr>
            </table>
        }*/
    }

</div>
